<h3>Recent Matches</h3>
<!-- Match Table -->
<div>
    <table #matchTableL7 class="mtable">
        <thead>
            <tr>
                <th *ngFor= "let h of tableHeaders">
                    <span (click)="sortTable(h.value)">
                        {{h.header}}
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr href="#" *ngFor="let x of matches" target="_blank" [routerLink]="['/match', x.matchid]">
                <td>{{x.compcode}}</td>
                <td>{{x.fmatchdate}}</td>
                <td>{{x.t1shortname}}</td>
                <td>
                    <span *ngIf="x.resultot == 'H'">*</span>
                    <span *ngIf="x.resultso == 'H'">*</span>{{x.t1goalft}}<span *ngIf="x.t1goalft !== null">-</span>
                    <span *ngIf="x.t1goalft == null">?</span>{{x.t2goalft}}<span *ngIf="x.resultot == 'A'">*</span>
                    <span *ngIf="x.resultso == 'A'">*</span>
                </td>
                <td>{{x.t2shortname}}</td>
            </tr>
        </tbody>
    </table>
</div>
