<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">FussData | Discover the best centralized and highly accurate database for historical football statistics on the web.</p>
        </div>

        <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
            <li><a target="_blank" [routerLink]="['/matches']">Matches</a></li>
            <li><a target="_blank" [routerLink]="['/teams']">Teams</a></li>
            <li><a target="_blank" [routerLink]="['/personas']">Personas</a></li>
            <li><a target="_blank" [routerLink]="['/about']">About</a></li>
            </ul>
        </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; {{currentYear}} All Rights Reserved by 
        <a href="#">FussData</a>.
            </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="https://twitter.com/FussDatacom?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @FussDatacom on Twitter</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        </div>
    </div>
</footer>