.matchDetails {
    text-align: center;
}

.mdtable{
    margin-left: auto;
    margin-right: auto;
}

.matables {
    display: flex;
}

/* Stats Table */

.matchTeams {
    color: #0b9c54;
    font-weight: bold;
    font-size: 18px;
}

.teamName {
    font-weight: bold;
}

.resultft {
    font-weight: bold;
}

/* Icons Colors */

.regularIcon {
    font-size: 18px;
}

.actionTime {
    font-size: 12px;
}

.gicon {
    font-size: 16px;
    color: green;
    font-weight: bold;
}

.yicon {
    font-size: 16px;
    color: #fada5e;
    font-weight: bold;
}

.ricon {
    font-size: 16px;
    color: red;
    font-weight: bold;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
    vertical-align: bottom;
}