<div class="matchDetails">
    <span class="matchTeams">
        <span href='' target="_blank" [routerLink]="['/team', selectedMatchRaw.t1]">{{selectedMatchRaw.t1shortname}}</span> -
        <span href='' target="_blank" [routerLink]="['/team', selectedMatchRaw.t2]">{{selectedMatchRaw.t2shortname}}</span>
    </span>
    <br>
    <span>{{selectedMatchRaw.seasonname}} | {{selectedMatchRaw.compname}}</span>
    <br>
    <span>{{selectedMatchRaw.fmatchdate}}<span *ngIf=selectedMatchRaw.matchtime> | {{selectedMatchRaw.matchtime}}</span></span>
    <br>
    <span>{{selectedMatchRaw.stage}}</span>
    <br>
    
    <span>Venue: {{selectedMatchRaw.stadiumname}}<span *ngIf=selectedMatchRaw.neutral_match>ⁿ</span>, <span *ngIf=selectedMatchRaw.stadiumcity>{{selectedMatchRaw.stadiumcity}},</span> {{selectedMatchRaw.stadiumcountry}}</span>
    <br *ngIf="selectedMatchRaw.spectators">
    <span *ngIf="selectedMatchRaw.spectators">Assistance: {{selectedMatchRaw.spectators}}</span>
    <br *ngIf="selectedMatchRaw.spectators">
    <br *ngIf="selectedMatchRaw.spectators">
    
    <table class="mdtable">
        <tr *ngIf="selectedMatchRaw.t1goalft !== null">
            <th href='' target="_blank" [routerLink]="['/team', selectedMatchRaw.t1]">{{selectedMatchRaw.t1code}}</th>
            <th>{{selectedMatchRaw.t1goalft}} - {{selectedMatchRaw.t2goalft}}</th>
            <th href='' target="_blank" [routerLink]="['/team', selectedMatchRaw.t2]">{{selectedMatchRaw.t2code}}</th>
        </tr>
        <tr *ngIf="selectedMatchRaw.t1goalht !== null">
            <td>{{selectedMatchRaw.t1goalht}}</td>
            <td>HT Goals</td>
            <td>{{selectedMatchRaw.t2goalht}}</td>
        </tr>
        <tr *ngIf="selectedMatchRaw.ot">
            <td>{{selectedMatchRaw.t1goals_ot}}</td>
            <td>OT Goals*</td>
            <td>{{selectedMatchRaw.t2goals_ot}}</td>
        </tr>
        <tr *ngIf="selectedMatchRaw.shoot_out">
            <td>{{selectedMatchRaw.t1goals_so}}</td>
            <td>Pen Shoot-out*</td>
            <td>{{selectedMatchRaw.t2goals_so}}</td>
        </tr>
        <tr *ngIf="selectedMatchRaw.t1y !== null">
            <td>{{selectedMatchRaw.t1y}}</td>
            <td>Yellow Cards</td>
            <td>{{selectedMatchRaw.t2y}}</td>
        </tr>
        <tr *ngIf="selectedMatchRaw.t1r !== null">
            <td>{{selectedMatchRaw.t1r}}</td>
            <td>Red Cards</td>
            <td>{{selectedMatchRaw.t2r}}</td>
        </tr>
        <tr *ngIf="selectedMatchRaw.t1shots !== null">
            <td>{{selectedMatchRaw.t1shots}}</td>
            <td>Shots</td>
            <td>{{selectedMatchRaw.t2shots}}</td>
        </tr>
        <tr *ngIf="selectedMatchRaw.t1shotsot !== null">
            <td>{{selectedMatchRaw.t1shotsot}}</td>
            <td>Shots On Target</td>
            <td>{{selectedMatchRaw.t2shotsot}}</td>
        </tr>
        <tr *ngIf="selectedMatchRaw.t1corners !== null">
            <td>{{selectedMatchRaw.t1corners}}</td>
            <td>Corners</td>
            <td>{{selectedMatchRaw.t2corners}}</td>
        </tr>
        <tr *ngIf="selectedMatchRaw.t1fouls !== null">
            <td>{{selectedMatchRaw.t1fouls}}</td>
            <td>Fouls</td>
            <td>{{selectedMatchRaw.t2fouls}}</td>
        </tr>
        <tr *ngIf="selectedMatchRaw.t1poss !== null">
            <td>{{selectedMatchRaw.t1poss}}</td>
            <td>Possession %</td>
            <td>{{selectedMatchRaw.t2poss}}</td>
        </tr>
    </table>

    <br *ngIf="t1ActionsXI.length > 0">

    <div class="matables" *ngIf="t1ActionsXI.length > 0">
        <table class="mdtable">
            <tr>
                <td>
                    <span *ngIf="t1ActionsXI.length > 0" class="rosterLabel"> SXI</span>
                </td>
            </tr>
            <tr *ngFor="let x of t1ActionsXI" target="_blank" [routerLink]="['/persona', x.personaid]">
                <td>
                    <span *ngIf="x.sbo_time" class="material-icons ricon">swap_vert</span><span *ngIf="x.sbo_time" class="actionTime">{{x.sbo_time}}"</span>
                    <span *ngIf="x.sbi_time" class="material-icons gicon">swap_vert</span><span *ngIf="x.sbi_time" class="actionTime">{{x.sbi_time}}"</span>
                    <span *ngIf="x.wo_time" class="material-icons ricon">sync_problem</span><span *ngIf="x.wo_time" class="actionTime">{{x.wo_time}}"</span>
                    {{x.firstname.charAt(0)}}. {{x.lastname}}
                    <span *ngIf="x.gcount" class="material-icons gicon">sports_soccer</span><span *ngIf="x.gcount > 1" class="actionTime">({{x.gcount}})</span>
                    <span *ngIf="x.acount" class="material-icons gicon">connect_without_contact</span><span *ngIf="x.acount > 1" class="actionTime">({{x.acount}})</span>
                    <span *ngIf="x.ogcount" class="material-icons ricon">sports_soccer</span><span *ngIf="x.ogcount > 1" class="actionTime">({{x.ogcount}})</span>
                    <span *ngIf="x.ycount" class="yicon">▮</span>
                    <span *ngIf="x.rcount" class="ricon">▮</span>
                </td>
            </tr>
            <tr>
                <!-- Space Subs -->
                <td></td>
            </tr>
            <tr>
                <td>
                    <span *ngIf="t1ActionsSub.length > 0" class="rosterLabel"> Subs</span>
                </td>
            </tr>
            <tr *ngFor="let x of t1ActionsSub" target="_blank" [routerLink]="['/persona', x.personaid]">
                <td>
                    <span *ngIf="x.sbo_time" class="material-icons ricon">swap_vert</span><span *ngIf="x.sbo_time" class="actionTime">{{x.sbo_time}}"</span>
                    <span *ngIf="x.sbi_time" class="material-icons gicon">swap_vert</span><span *ngIf="x.sbi_time" class="actionTime">{{x.sbi_time}}"</span>
                    <span *ngIf="x.wo_time" class="material-icons ricon">sync_problem</span><span *ngIf="x.wo_time" class="actionTime">{{x.wo_time}}"</span>
                    {{x.firstname.charAt(0)}}. {{x.lastname}}
                    <span *ngIf="x.gcount" class="material-icons gicon">sports_soccer</span><span *ngIf="x.gcount > 1" class="actionTime">({{x.gcount}})</span>
                    <span *ngIf="x.acount" class="material-icons gicon">connect_without_contact</span><span *ngIf="x.acount > 1" class="actionTime">({{x.acount}})</span>
                    <span *ngIf="x.ogcount" class="material-icons ricon">sports_soccer</span><span *ngIf="x.ogcount > 1" class="actionTime">({{x.ogcount}})</span>
                    <span *ngIf="x.ycount" class="yicon">▮</span>
                    <span *ngIf="x.rcount" class="ricon">▮</span>
                </td>
            </tr>
            <tr>
                <!-- Space Manager -->
                <td></td> 
            </tr>
            <tr>
                <td>
                    <span *ngIf="t1ActionsMgr.length > 0" class="rosterLabel"> Mgr</span>
                </td>
            </tr>
            <tr *ngFor="let x of t1ActionsMgr" target="_blank" [routerLink]="['/persona', x.personaid]">
                <td>
                    {{x.firstname.charAt(0)}}. {{x.lastname}}
                </td>
            </tr>
        </table>
        <table class="mdtable">
            <tr>
                <td>
                    <span *ngIf="t2ActionsXI.length > 0" class="rosterLabel"> SXI</span>
                </td>
            </tr>
            <tr *ngFor="let x of t2ActionsXI" target="_blank" [routerLink]="['/persona', x.personaid]">
                <td>
                    <span *ngIf="x.sbo_time" class="material-icons ricon">swap_vert</span><span *ngIf="x.sbo_time" class="actionTime">{{x.sbo_time}}"</span>
                    <span *ngIf="x.sbi_time" class="material-icons gicon">swap_vert</span><span *ngIf="x.sbi_time" class="actionTime">{{x.sbi_time}}"</span>
                    <span *ngIf="x.wo_time" class="material-icons ricon">sync_problem</span><span *ngIf="x.wo_time" class="actionTime">{{x.wo_time}}"</span>
                    {{x.firstname.charAt(0)}}. {{x.lastname}}
                    <span *ngIf="x.gcount" class="material-icons gicon">sports_soccer</span><span *ngIf="x.gcount > 1" class="actionTime">({{x.gcount}})</span>
                    <span *ngIf="x.acount" class="material-icons gicon">connect_without_contact</span><span *ngIf="x.acount > 1" class="actionTime">({{x.acount}})</span>
                    <span *ngIf="x.ogcount" class="material-icons ricon">sports_soccer</span><span *ngIf="x.ogcount > 1" class="actionTime">({{x.ogcount}})</span>
                    <span *ngIf="x.ycount" class="yicon">▮</span>
                    <span *ngIf="x.rcount" class="ricon">▮</span>
                </td>
            </tr>
            <!-- Space Subs -->
            <tr>
                <td></td> 
            </tr>
            <tr>
                <td></td> 
            </tr>
            <tr>
                <td>
                    <span *ngIf="t2ActionsSub.length > 0" class="rosterLabel"> Subs</span>
                </td>
            </tr>
            <tr *ngFor="let x of t2ActionsSub" target="_blank" [routerLink]="['/persona', x.personaid]">
                <td>
                    <span *ngIf="x.sbo_time" class="material-icons ricon">swap_vert</span><span *ngIf="x.sbo_time" class="actionTime">{{x.sbo_time}}"</span>
                    <span *ngIf="x.sbi_time" class="material-icons gicon">swap_vert</span><span *ngIf="x.sbi_time" class="actionTime">{{x.sbi_time}}"</span>
                    <span *ngIf="x.wo_time" class="material-icons ricon">sync_problem</span><span *ngIf="x.wo_time" class="actionTime">{{x.wo_time}}"</span>
                    {{x.firstname.charAt(0)}}. {{x.lastname}}
                    <span *ngIf="x.gcount" class="material-icons gicon">sports_soccer</span><span *ngIf="x.gcount > 1" class="actionTime">({{x.gcount}})</span>
                    <span *ngIf="x.acount" class="material-icons gicon">connect_without_contact</span><span *ngIf="x.acount > 1" class="actionTime">({{x.acount}})</span>
                    <span *ngIf="x.ogcount" class="material-icons ricon">sports_soccer</span><span *ngIf="x.ogcount > 1" class="actionTime">({{x.ogcount}})</span>
                    <span *ngIf="x.ycount" class="yicon">▮</span>
                    <span *ngIf="x.rcount" class="ricon">▮</span>
                </td>
            </tr>
            <!-- Space Manager -->
            <tr>
                <td></td> 
            </tr>
            <tr>
                <td></td> 
            </tr>
            <tr>
                <td>
                    <span *ngIf="t2ActionsMgr.length > 0" class="rosterLabel"> Mgr</span>
                </td>
            </tr>
            <tr *ngFor="let x of t2ActionsMgr" target="_blank" [routerLink]="['/persona', x.personaid]">
                <td>
                    {{x.firstname.charAt(0)}}. {{x.lastname}}
                </td>
            </tr>
        </table>
    </div>
</div>
