button{
    color: green;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border-radius: 4px;
}

/* Teams Table */

.ttable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
}

.ttable td {
    border: 1px solid grey;
    text-align: center;
  }

.ttable th {
    border: 1px solid grey;
    text-align: center;
    font-weight: bold;
    background-color: #006633;
}

.ttable tr:nth-child(even){background-color: #282828;}

.ttable tr:hover {background-color: grey;}

.persona-search {
    width: 95%;
    height: 20px;
    border-radius: 4px;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .ttable {
        width: auto;
        border-collapse: collapse;
        border: 1px solid grey;
        margin-left: auto;
        margin-right: auto;
    }

    .persona-search {
        width: auto;
        border-radius: 4px;
        text-align: center;
        height: 24px;
    }
}

.pagination {
    padding: 14px 16px;
    display: inline-flex;
}

.pages {
    color: white;
    font-size: 16px;
    background-color: #202020;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

.pages.active {
    color: #00cc00;
    font-size: 16px;
    background-color: #404040;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

.pages.disabled {
    color: grey;
    font-size: 16px;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Modal */

.match-modal {
    text-align: center;
    color: white;
}

.modal-button {
    background-color: #E8E8E8;
    color: black;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 35px;
    border-radius: 4px;
}

.teamName {
    font-weight: bold;
}

/* Icons Colors */

.regularIcon {
    font-size: 18px;
    font-weight: bold;
}


.gicon {
    font-size: 16px;
    color: green;
    font-weight: bold;
}

.yicon {
    font-size: 16px;
    color: #ffc40c;
    font-weight: bold;
}

.ricon {
    font-size: 16px;
    color: red;
    font-weight: bold;
}

.bicon {
    font-size: 16px;
    color: blue;
    font-weight: bold;
}

/* neutral */
.nicon {
    font-size: 16px;
    color: #A9A9A9;
    font-weight: bold;
}

/* Matches Table */

.mtable {
    border-collapse: collapse;
    border: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
}

.mtable td {
    border: 1px solid grey;
    text-align: center;
  }

.mtable th {
    border: 1px solid grey;
    text-align: center;
    font-weight: bold;
}