<h3>Teams</h3>
<input class="persona-search" type="text" placeholder="Search.." (keyup)="searchTeam($event)">
<br>
<br>
<table class="ttable">
    <tr>
        <th *ngFor="let x of teamTableHeaders">
            <span (click)="sortTable(x.value)">
                {{x.header}}
            </span>
        </th>
    </tr>
    <tr href="#" *ngFor="let x of pagedItems" target="_blank" [routerLink]="['/team', x.teamid]">
        <td>{{x.teamshortname}}</td>
        <td>{{x.countryname}}</td>
    </tr>
</table>

<!-- pager -->
<div *ngIf="pager.pages && pager.pages.length" class="pagination">
    <button [ngClass]="{disabled:pager.currentPage === 1}" class="pages">
        <span (click)="setPage(1)"><i class="material-icons">first_page</i></span>
    </button>
    <button [ngClass]="{disabled:pager.currentPage === 1}" class="pages">
        <span (click)="setPage(pager.currentPage - 1)"><i class="material-icons">keyboard_arrow_left</i></span>
    </button>
    <button *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="pages">
        <span (click)="setPage(page)">{{page}}</span>
    </button>
    <button [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="pages">
        <span (click)="setPage(pager.currentPage + 1)"><i class="material-icons">keyboard_arrow_right</i></span>
    </button>
    <button [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="pages">
        <span (click)="setPage(pager.totalPages)"><i class="material-icons">last_page</i></span>
    </button>
</div>