<h3>
    About Us
</h3>
<img src="../../../assets/img/fd.png" alt="fussdata-logo"/>
<!-- <h1>FussData</h1> -->
<p>FussData is a data collaboration project for football statistics, created and maintained by a community of volunteer editors.</p>
<br>
<p>Our mission is to provide a centralized and highly accurate database for historical football statistics.</p>
<br>
<p>Our content is not intended for an audience under 18 years of age.</p>
<p> All trademarks, brands, images, logos and names appearing on this website belong to their respective owners.</p>
