button{
    color: green;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border-radius: 4px;
}

/* Main Table */

.ptable {
    border-collapse: collapse;
    border: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
}

.ptable td {
    border: 1px solid grey;
    text-align: center;
  }

.ptable th {
border: 1px solid grey;
text-align: center;
font-weight: bold;
background-color: #006633;
}

.ptable tr:nth-child(even){background-color: #282828;}

.ptable tr:hover {background-color: grey;}

/* Modal */

.persona-details-modal {
    text-align: center;
    color: black;
}

.modal-button {
    color: white;
    background-color: grey;
}