<h3>Persona</h3>


<!-- Personas Table -->
<div>
    <table class="ptable">
        <thead>
            <tr>
                <th *ngFor= "let h of tableHeaders">
                    <span (click)="sortTable(h.value)">
                        {{h.header}}
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of temptableData">
                <td>{{x.personaid}}</td>
                <td>{{x.firstname}}</td>
                <td>{{x.lastname}}</td>
                <td>{{x.nationality}}</td>
                <td>{{x.citizenship}}</td>
                <td>{{x.fdob}}</td>
                <td>{{x.notes}}</td>
                <td>
                    <button (click)="personaDetails(x.personaid, 'personaDetailsModal')">🛈</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<jw-modal id="personaDetailsModal">
    <div *ngIf="selectedPersona" class="persona-details-modal">
        <h4>Persona Details</h4>
        <span>{{selectedPersona.fullname}} ({{selectedPersona.nationality}}, {{selectedPersona.citizenship}})</span>
        <br>
        <span>{{selectedPersona.fdob}}</span>
        <br>
        <span *ngIf="selectedPersona.notes != ''">{{selectedPersona.notes}}</span>
        <br>
        <button class="modal-button" (click)="closeModal('personaDetailsModal');">Close</button>
    </div>
</jw-modal>