/* Main Table */

.ptable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
}

.ptable td {
    border: 1px solid grey;
    text-align: center;
  }

.ptable th {
border: 1px solid grey;
text-align: center;
font-weight: bold;
background-color: #006633;
}

.ptable tr:nth-child(even){background-color: #282828;}

.ptable tr:hover {background-color: grey;}

.persona-search {
    width: 95%;
    height: 22px;
    border-radius: 4px;
    text-align: left;
    font-size: 16px;
}

@media screen and (min-width: 800px) {
    .ptable {
        width: auto;
        border-collapse: collapse;
        border: 1px solid grey;
        margin-left: auto;
        margin-right: auto;
    }

    .persona-search {
        width: auto;
        border-radius: 4px;
        text-align: center;
        height: 24px;
    }
}


/* Modal */

.persona-details-modal {
    text-align: center;
    color: white;
}

.modal-button {
    color: white;
    border: none;
    cursor:pointer;
    overflow: hidden;
    background-color: grey;
    border-radius: 4px;
}

/* Match Details Table */

.pstable {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    border: 1px solid grey;
}

.pstable td {
    border: 1px solid grey;
    text-align: center;
    font-size: 14px;
  }

.pstable th {
    border: 1px solid grey;
    text-align: center;
    font-size: 16px;
}

.md-button {
    color: green;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border-radius: 4px;
}

/* Icons Colors */

.regularIcon {
    font-size: 16px;
}

.gicon {
    font-size: 16px;
    color: green;
    font-weight: bold;
}

.yicon {
    font-size: 16px;
    color: #fada5e;
    font-weight: bold;
}

.ricon {
    font-size: 16px;
    color: red;
    font-weight: bold;
}

.pagination {
    padding: 14px 16px;
    display: inline-flex;
}

.pages {
    color: white;
    font-size: 16px;
    background-color: #202020;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

.pages.active {
    color: #00cc00;
    font-size: 16px;
    background-color: #404040;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

.pages.disabled {
    color: grey;
    font-size: 16px;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
    vertical-align: bottom;
}