/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: 'Red Hat Display', sans-serif;
    color: whitesmoke;
    background-color: black;
}

input::placeholder {
    font-family: 'Red Hat Display', sans-serif;
}

input::-ms-input-placeholder {
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    padding: 4px;
    text-align: center;  
    overflow-x:auto;
  }
