<h3>Matches</h3>
<div class="tableFilters">
    <label for="comps">Comp: </label>
    <select #comp name="comps" class="alignFilters" (change)="filterTable(comp.value, 'comp')">
        <option value="all">All</option>
        <option *ngFor= "let x of comps" [value]="x.compid">
            {{x.compcode}}
        </option>
    </select>

    <label for="seasons"> Season: </label>
    <select #season name="seasons" class="alignFilters" (change)="filterTable(season.value, 'season')">
        <option value="all">All</option>
        <option *ngFor= "let x of seasons" [value]="x.seasonid">
            {{x.season}}
        </option>
    </select>

    <label for="teams"> Team: </label>
    <select #team name="teams" class="alignFilters" (change)="filterTable(team.value, 'team')">
        <option value="all">All</option>
        <option *ngFor= "let x of teams" [value]="x.teamid">
            {{x.teamshortname}}
        </option>
    </select>
</div>

<br>
<!-- Match Table -->
<div>
    <table #matchTable class="mtable">
        <thead>
            <tr>
                <th *ngFor= "let h of tableHeaders">
                    <span (click)="sortTable(h.value)">
                        {{h.header}}
                    </span>
                    <!-- <button class="dropdwn" (click)="uniqueData(h.value)">
                        ▼
                    </button>
                     -->
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of temptableData">
                <td>{{x.matchid}}</td>
                <td>{{x.compcode}}</td>
                <td>{{x.seasonname}}</td>
                <td>{{x.stageshort}}</td>
                <td>{{x.fmatchdate}}</td>
                <td>{{x.t1shortname}}</td>
                <td>{{x.t1goalft}}-{{x.t2goalft}}</td>
                <td>{{x.t2shortname}}</td>
                <td>{{x.stadiumname}}</td>
                <td><strong *ngIf=x.neutral_match>Yes</strong> </td>
                <td>
                    <button (click)="matchDetails(x.matchid, 'matchDetailsModal')">🛈</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<jw-modal id="matchDetailsModal">
    <div *ngIf="selectedMatchRaw" class="match-modal">
        <h4>Match Stats</h4>
        <span>{{selectedMatchRaw.seasonname}} {{selectedMatchRaw.compname}} ( {{selectedMatchRaw.stageshort}} ) | {{selectedMatchRaw.fmatchdate}}</span>

        <br>

        <span>{{selectedMatchRaw.stadiumname}} ({{selectedMatchRaw.stadiumcity}}) - Assistance: {{selectedMatchRaw.spectators}}</span>

        <br>

        <span>
            Kick Off: {{selectedMatchRaw.matchtime}}
        </span>
        <br>

        <table class="mdtable">
            <tr>
                <th>{{selectedMatchRaw.t1shortname}}</th>
                <th>{{selectedMatchRaw.t1goalft}} - {{selectedMatchRaw.t2goalft}}</th>
                <th>{{selectedMatchRaw.t2shortname}}</th>
            </tr>
            <tr>
                <td>{{selectedMatchRaw.t1goalht}}</td>
                <td>HT Goals</td>
                <td>{{selectedMatchRaw.t2goalht}}</td>
            </tr>
            <tr>
                <td>{{selectedMatchRaw.t1y}}</td>
                <td>Yellow Cards</td>
                <td>{{selectedMatchRaw.t2y}}</td>
            </tr>
            <tr>
                <td>{{selectedMatchRaw.t1r}}</td>
                <td>Red Cards</td>
                <td>{{selectedMatchRaw.t2r}}</td>
            </tr>
            <tr>
                <td>{{selectedMatchRaw.t1shots}}</td>
                <td>Shots</td>
                <td>{{selectedMatchRaw.t2shots}}</td>
            </tr>
            <tr>
                <td>{{selectedMatchRaw.t1shotsot}}</td>
                <td>Shots On Target</td>
                <td>{{selectedMatchRaw.t2shotsot}}</td>
            </tr>
            <tr>
                <td>{{selectedMatchRaw.t1corners}}</td>
                <td>Corners</td>
                <td>{{selectedMatchRaw.t2corners}}</td>
            </tr>
            <tr>
                <td>{{selectedMatchRaw.t1fouls}}</td>
                <td>Fouls</td>
                <td>{{selectedMatchRaw.t2fouls}}</td>
            </tr>
            <tr>
                <td>{{selectedMatchRaw.t1poss}}</td>
                <td>Possession %</td>
                <td>{{selectedMatchRaw.t2poss}}</td>
            </tr>
        </table>

        <br>

        <button class="modal-button" (click)="closeModal('matchDetailsModal');">Close</button>
    </div>
</jw-modal>