/* Match Table */

.mtable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

.mtable td {
    border: 1px solid grey;
    text-align: center;
    font-size: 14px;
    height: 23px;
  }

.mtable th {
    border: 1px solid grey;
    text-align: center;
    font-weight: bold;
    background-color: #006633;
    font-size: 14px;
    height: 23px;
}

.mtable tr:nth-child(even){background-color: #282828;}

.mtable tr:hover {background-color: grey;}


@media screen and (min-width: 800px) {
    .mtable {
        width: auto;
        border-collapse: collapse;
        border: 1px solid grey;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }

    .mtable td {
        border: 1px solid grey;
        text-align: center;
        font-size: 16px;
        height: 22px;
      }
    
    .mtable th {
        border: 1px solid grey;
        text-align: center;
        font-weight: bold;
        background-color: #006633;
        font-size: 16px;
        height: 22px;
    }
}

/* Match Details Table */

.mdtable {
    /* border-collapse: collapse; */
    text-align: center;
    margin: auto;
}

.mdtable td {
    text-align: center;
  }

.mdtable th {
text-align: center;
font-weight: bold;
}

.pagination {
    padding: 14px 16px;
    display: inline-flex;
}

.pages {
    color: white;
    font-size: 16px;
    background-color: #202020;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

.pages.active {
    color: #00cc00;
    font-size: 16px;
    background-color: #404040;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

.pages.disabled {
    color: grey;
    font-size: 16px;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Modal */

.match-modal {
    text-align: center;
    color: white;
}

.modal-button {
    background-color: #E8E8E8;
    color: black;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 35px;
    border-radius: 4px;
}

.md-button {
    color: green;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border-radius: 4px;
}

.dropdwn {
    vertical-align: middle;
    font-size: 10px;
    float: right;
    background-color: #DCDCDC;
    border-radius: 4px;
}

.tableFilters {
    text-align: center;
}

.alignFilters {
    display:inline-block;
    text-align: center;
    width: 200px;
}

.teamName {
    font-weight: bold;
}

.resultft {
    font-weight: bold;
}

.actionsTables {
    display: flex;
}

/* Icons Colors */

.regularIcon {
    font-size: 18px;
}

.actionTime {
    font-size: 12px;
}

.gicon {
    font-size: 16px;
    color: green;
    font-weight: bold;
}

.yicon {
    font-size: 16px;
    color: #fada5e;
    font-weight: bold;
}

.ricon {
    font-size: 16px;
    color: red;
    font-weight: bold;
}

.filter-button {
    background-color: #006633;
    color: whitesmoke;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 35px;
    border-radius: 4px;
    
}

.filter-icons {
    font-size: 16px;
    color: whitesmoke;
    font-weight: bold;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
    vertical-align: bottom;
}