<h3>Historical Matches</h3>
<button class="filter-button" (click)="hidefilters()">
    Filter
    <i class="material-icons filter-icons">filter_alt</i>
</button>

<div class="tableFilters" *ngIf="showfilters">
    <label for="comps">Comp: </label>
    <br>
    <select #comp name="comps" class="alignFilters">
        <option value="all">All</option>
        <option *ngFor= "let x of comps" [value]="x.comp">
            {{x.compname}}
        </option>
    </select>
    <br>

    <label for="seasons"> Season: </label>
    <br>
    <select #season name="seasons" class="alignFilters">
        <option value="all">All</option>
        <option *ngFor= "let x of seasons" [value]="x.season">
            {{x.seasonname}}
        </option>
    </select>
    <br>

    <label for="teams"> Team: </label>
    <br>
    <select #team name="teams" class="alignFilters">
        <option value="all">All</option>
        <option *ngFor= "let x of uTeams" [value]="x.team">
            {{x.teamshortname}}
        </option>
    </select>
    <br>
    <button class="filter-button" (click)="filterTable(comp.value, season.value, team.value)">
        Search
        <i class="material-icons filter-icons">search</i>
    </button>
</div>

<br>
<!-- Match Table -->
<div>
    <table #matchTable class="mtable">
        <thead>
            <tr>
                <th *ngFor= "let h of tableHeaders">
                    <span (click)="sortTable(h.value)">
                        {{h.header}}
                    </span>
                    <!-- <button class="dropdwn" (click)="uniqueData(h.value)">
                        ▼
                    </button>
                     -->
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of pagedItems" (click)="matchDetails(x.matchid, 'matchDetailsModal')">
                <td>{{x.compcode}}</td>
                <!-- <td>{{x.seasonname}}</td> -->
                <!-- <td>{{x.stageshort}}</td> -->
                <td>{{x.fmatchdate}}</td>
                <td>{{x.t1shortname}}</td>
                <td>{{x.t1goalft}}<span *ngIf="x.t1goalft !== null">-</span><span *ngIf="x.t1goalft == null">?</span>{{x.t2goalft}}</td>
                <td>{{x.t2shortname}}</td>
                <!-- <td>
                    <button (click)="matchDetails(x.matchid, 'matchDetailsModal')" class="md-button"><i class="material-icons regularIcon">info</i></button>
                </td> -->
            </tr>
        </tbody>
    </table>

    <!-- pager -->
    <div *ngIf="pager.pages && pager.pages.length" class="pagination">
        <button [ngClass]="{disabled:pager.currentPage === 1}" class="pages">
            <span (click)="setPage(1)"><i class="material-icons">first_page</i></span>
        </button>
        <button [ngClass]="{disabled:pager.currentPage === 1}" class="pages">
            <span (click)="setPage(pager.currentPage - 1)"><i class="material-icons">keyboard_arrow_left</i></span>
        </button>
        <button *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="pages">
            <span (click)="setPage(page)">{{page}}</span>
        </button>
        <button [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="pages">
            <span (click)="setPage(pager.currentPage + 1)"><i class="material-icons">keyboard_arrow_right</i></span>
        </button>
        <button [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="pages">
            <span (click)="setPage(pager.totalPages)"><i class="material-icons">last_page</i></span>
        </button>
    </div>
</div>

<jw-modal id="matchDetailsModal">
    <div *ngIf="selectedMatchRaw" class="match-modal">
        <h4>Match Statistics</h4>
        <span>{{selectedMatchRaw.matchid}}</span>
        <br>
        <span>{{selectedMatchRaw.seasonname}} | {{selectedMatchRaw.compname}} | {{selectedMatchRaw.fmatchdate}} | {{selectedMatchRaw.matchtime}}</span>
        <br>
        <span>{{selectedMatchRaw.stage}}</span>
        <br>

        <span>{{selectedMatchRaw.stadiumname}}<span *ngIf=selectedMatchRaw.neutral_match>ⁿ</span>, {{selectedMatchRaw.stadiumcity}}, {{selectedMatchRaw.stadiumcountry}}.</span>
        <br *ngIf="selectedMatchRaw.spectators">
        <span *ngIf="selectedMatchRaw.spectators">Assistance: {{selectedMatchRaw.spectators}}</span>
        <br *ngIf="selectedMatchRaw.spectators">
        <br *ngIf="selectedMatchRaw.spectators">

        <table class="mdtable">
            <tr *ngIf="selectedMatchRaw.t1goalft !== null">
                <th>{{selectedMatchRaw.t1code}}</th>
                <th>{{selectedMatchRaw.t1goalft}} - {{selectedMatchRaw.t2goalft}}</th>
                <th>{{selectedMatchRaw.t2code}}</th>
            </tr>
            <tr *ngIf="selectedMatchRaw.t1goalht !== null">
                <td>{{selectedMatchRaw.t1goalht}}</td>
                <td>HT Goals</td>
                <td>{{selectedMatchRaw.t2goalht}}</td>
            </tr>
            <tr *ngIf="selectedMatchRaw.ot">
                <td>{{selectedMatchRaw.t1goals_ot}}</td>
                <td>OT Goals*</td>
                <td>{{selectedMatchRaw.t2goals_ot}}</td>
            </tr>
            <tr *ngIf="selectedMatchRaw.shoot_out">
                <td>{{selectedMatchRaw.t1goals_so}}</td>
                <td>Pen Shoot-out*</td>
                <td>{{selectedMatchRaw.t2goals_so}}</td>
            </tr>
            <tr *ngIf="selectedMatchRaw.t1y !== null">
                <td>{{selectedMatchRaw.t1y}}</td>
                <td>Yellow Cards</td>
                <td>{{selectedMatchRaw.t2y}}</td>
            </tr>
            <tr *ngIf="selectedMatchRaw.t1r !== null">
                <td>{{selectedMatchRaw.t1r}}</td>
                <td>Red Cards</td>
                <td>{{selectedMatchRaw.t2r}}</td>
            </tr>
            <tr *ngIf="selectedMatchRaw.t1shots !== null">
                <td>{{selectedMatchRaw.t1shots}}</td>
                <td>Shots</td>
                <td>{{selectedMatchRaw.t2shots}}</td>
            </tr>
            <tr *ngIf="selectedMatchRaw.t1shotsot !== null">
                <td>{{selectedMatchRaw.t1shotsot}}</td>
                <td>Shots On Target</td>
                <td>{{selectedMatchRaw.t2shotsot}}</td>
            </tr>
            <tr *ngIf="selectedMatchRaw.t1corners !== null">
                <td>{{selectedMatchRaw.t1corners}}</td>
                <td>Corners</td>
                <td>{{selectedMatchRaw.t2corners}}</td>
            </tr>
            <tr *ngIf="selectedMatchRaw.t1fouls !== null">
                <td>{{selectedMatchRaw.t1fouls}}</td>
                <td>Fouls</td>
                <td>{{selectedMatchRaw.t2fouls}}</td>
            </tr>
            <tr *ngIf="selectedMatchRaw.t1poss !== null">
                <td>{{selectedMatchRaw.t1poss}}</td>
                <td>Possession %</td>
                <td>{{selectedMatchRaw.t2poss}}</td>
            </tr>
        </table>

        <br *ngIf="t1ActionsXI.length > 0">

        <div class="actionsTables" *ngIf="t1ActionsXI.length > 0">
            <table class="mdtable">
                <tr>
                    <td><span *ngIf="t1ActionsXI.length > 0" class="teamName">Starting XI </span></td>
                </tr>
                <tr *ngFor="let x of t1ActionsXI">
                    <td>
                        <span *ngIf="x.sbo_time" class="material-icons ricon">swap_vert</span><span *ngIf="x.sbo_time" class="actionTime">{{x.sbo_time}}"</span>
                        <span *ngIf="x.sbi_time" class="material-icons gicon">swap_vert</span><span *ngIf="x.sbi_time" class="actionTime">{{x.sbi_time}}"</span>
                        <span *ngIf="x.wo_time" class="material-icons ricon">sync_problem</span><span *ngIf="x.wo_time" class="actionTime">{{x.wo_time}}"</span>
                        {{x.persona}}
                        <span *ngIf="x.gcount" class="material-icons gicon">sports_soccer</span><span *ngIf="x.gcount > 1" class="actionTime">({{x.gcount}})</span>
                        <span *ngIf="x.acount" class="material-icons gicon">connect_without_contact</span><span *ngIf="x.acount > 1" class="actionTime">({{x.acount}})</span>
                        <span *ngIf="x.ogcount" class="material-icons ricon">sports_soccer</span><span *ngIf="x.ogcount > 1" class="actionTime">({{x.ogcount}})</span>
                        <span *ngIf="x.ycount" class="material-icons yicon">sensor_door</span>
                        <span *ngIf="x.rcount" class="material-icons ricon">sensor_door</span>
                    </td>
                </tr>
                <tr>
                    <!-- Space Subs -->
                    <td></td>
                </tr>
                <tr>
                    <td><span *ngIf="t1ActionsSub.length > 0" class="teamName">Substitutes </span></td>
                </tr>
                <tr *ngFor="let x of t1ActionsSub">
                    <td>
                        <span *ngIf="x.sbo_time" class="material-icons ricon">swap_vert</span><span *ngIf="x.sbo_time" class="actionTime">{{x.sbo_time}}"</span>
                        <span *ngIf="x.sbi_time" class="material-icons gicon">swap_vert</span><span *ngIf="x.sbi_time" class="actionTime">{{x.sbi_time}}"</span>
                        <span *ngIf="x.wo_time" class="material-icons ricon">sync_problem</span><span *ngIf="x.wo_time" class="actionTime">{{x.wo_time}}"</span>
                        {{x.persona}}
                        <span *ngIf="x.gcount" class="material-icons gicon">sports_soccer</span><span *ngIf="x.gcount > 1" class="actionTime">({{x.gcount}})</span>
                        <span *ngIf="x.acount" class="material-icons gicon">connect_without_contact</span><span *ngIf="x.acount > 1" class="actionTime">({{x.acount}})</span>
                        <span *ngIf="x.ogcount" class="material-icons ricon">sports_soccer</span><span *ngIf="x.ogcount > 1" class="actionTime">({{x.ogcount}})</span>
                        <span *ngIf="x.ycount" class="material-icons yicon">sensor_door</span>
                        <span *ngIf="x.rcount" class="material-icons ricon">sensor_door</span>
                    </td>
                </tr>
            </table>
            <table class="mdtable">
                <tr>
                    <td><span *ngIf="t2ActionsXI.length > 0" class="teamName">Starting XI </span></td>
                </tr>
                <tr *ngFor="let x of t2ActionsXI">
                    <td>
                        <span *ngIf="x.sbo_time" class="material-icons ricon">swap_vert</span><span *ngIf="x.sbo_time" class="actionTime">{{x.sbo_time}}"</span>
                        <span *ngIf="x.sbi_time" class="material-icons gicon">swap_vert</span><span *ngIf="x.sbi_time" class="actionTime">{{x.sbi_time}}"</span>
                        <span *ngIf="x.wo_time" class="material-icons ricon">sync_problem</span><span *ngIf="x.wo_time" class="actionTime">{{x.wo_time}}"</span>
                        {{x.persona}}
                        <span *ngIf="x.gcount" class="material-icons gicon">sports_soccer</span><span *ngIf="x.gcount > 1" class="actionTime">({{x.gcount}})</span>
                        <span *ngIf="x.acount" class="material-icons gicon">connect_without_contact</span><span *ngIf="x.acount > 1" class="actionTime">({{x.acount}})</span>
                        <span *ngIf="x.ogcount" class="material-icons ricon">sports_soccer</span><span *ngIf="x.ogcount > 1" class="actionTime">({{x.ogcount}})</span>
                        <span *ngIf="x.ycount" class="material-icons yicon">sensor_door</span>
                        <span *ngIf="x.rcount" class="material-icons ricon">sensor_door</span>
                    </td>
                </tr>
                <tr>
                    <!-- Space Subs -->
                    <td></td> 
                </tr>
                <tr>
                    <td><span *ngIf="t2ActionsSub.length > 0" class="teamName">Substitutes </span></td>
                </tr>
                <tr *ngFor="let x of t2ActionsSub">
                    <td>
                        <span *ngIf="x.sbo_time" class="material-icons ricon">swap_vert</span><span *ngIf="x.sbo_time" class="actionTime">{{x.sbo_time}}"</span>
                        <span *ngIf="x.sbi_time" class="material-icons gicon">swap_vert</span><span *ngIf="x.sbi_time" class="actionTime">{{x.sbi_time}}"</span>
                        <span *ngIf="x.wo_time" class="material-icons ricon">sync_problem</span><span *ngIf="x.wo_time" class="actionTime">{{x.wo_time}}"</span>
                        {{x.persona}}
                        <span *ngIf="x.gcount" class="material-icons gicon">sports_soccer</span><span *ngIf="x.gcount > 1" class="actionTime">({{x.gcount}})</span>
                        <span *ngIf="x.acount" class="material-icons gicon">connect_without_contact</span><span *ngIf="x.acount > 1" class="actionTime">({{x.acount}})</span>
                        <span *ngIf="x.ogcount" class="material-icons ricon">sports_soccer</span><span *ngIf="x.ogcount > 1" class="actionTime">({{x.ogcount}})</span>
                        <span *ngIf="x.ycount" class="material-icons yicon">sensor_door</span>
                        <span *ngIf="x.rcount" class="material-icons ricon">sensor_door</span>
                    </td>
                </tr>
            </table>
        </div>

        <button class="modal-button" (click)="closeModal('matchDetailsModal');">Close</button>
    </div>
</jw-modal>