<h3>Matches</h3>
<div class="tableFilters">
    <label for="comps">Comp: </label>
    <select #comp name="comps" class="alignFilters" (change)="filterTable(comp.value, 'comp')">
        <option value="all">All</option>
        <option *ngFor= "let x of comps" [value]="x.compid">
            {{x.compcode}}
        </option>
    </select>

    <label for="seasons"> Season: </label>
    <select #season name="seasons" class="alignFilters" (change)="filterTable(season.value, 'season')">
        <option value="all">All</option>
        <option *ngFor= "let x of seasons" [value]="x.seasonid">
            {{x.season}}
        </option>
    </select>

    <label for="teams"> Team: </label>
    <select #team name="teams" class="alignFilters" (change)="filterTable(team.value, 'team')">
        <option value="all">All</option>
        <option *ngFor= "let x of teams" [value]="x.teamid">
            {{x.teamshortname}}
        </option>
    </select>
</div>

<br>
<!-- Match Table -->
<div>
    <table #matchTable class="mtable">
        <thead>
            <tr>
                <th *ngFor= "let h of tableHeaders">
                    <span (click)="sortTable(h.value)">
                        {{h.header}}
                    </span>
                    <!-- <button class="dropdwn" (click)="uniqueData(h.value)">
                        ▼
                    </button>
                     -->
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of temptableData">
                <td>{{x.matchid}}</td>
                <td>{{x.compcode}}</td>
                <td>{{x.seasonname}}</td>
                <td>{{x.stageshort}}</td>
                <td>{{x.fmatchdate}}</td>
                <td>{{x.t1shortname}}</td>
                <td>{{x.t1goalft}}-{{x.t2goalft}}</td>
                <td>{{x.t2shortname}}</td>
                <td>{{x.stadiumname}}</td>
                <td><strong *ngIf=x.neutral_match>Yes</strong> </td>
                <td>
                    <button (click)="matchDetails(x.matchid, 'matchDetailsModal')"><i class="material-icons regularIcon">info</i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<jw-modal id="matchDetailsModal">
    <div *ngIf="selectedMatchRaw" class="match-modal">
        <h4>Match Stats</h4>
        <span>{{selectedMatchRaw.seasonname}} | {{selectedMatchRaw.compname}} | {{selectedMatchRaw.fmatchdate}} - {{selectedMatchRaw.matchtime}} ( {{selectedMatchRaw.stageshort}} )</span>

        <br>

        <span>{{selectedMatchRaw.stadiumname}} ({{selectedMatchRaw.stadiumcity}}) - Assistance: {{selectedMatchRaw.spectators}}</span>

        <br>
        <br>

        <table class="mdtable">
            <tr>
                <th>{{selectedMatchRaw.t1code}}</th>
                <th>{{selectedMatchRaw.t1goalft}} - {{selectedMatchRaw.t2goalft}}</th>
                <th>{{selectedMatchRaw.t2code}}</th>
            </tr>
            <tr>
                <td>{{selectedMatchRaw.t1goalht}}</td>
                <td>HT Goals</td>
                <td>{{selectedMatchRaw.t2goalht}}</td>
            </tr>
            <tr>
                <td>{{selectedMatchRaw.t1y}}</td>
                <td>Yellow Cards</td>
                <td>{{selectedMatchRaw.t2y}}</td>
            </tr>
            <tr>
                <td>{{selectedMatchRaw.t1r}}</td>
                <td>Red Cards</td>
                <td>{{selectedMatchRaw.t2r}}</td>
            </tr>
            <tr>
                <td>{{selectedMatchRaw.t1shots}}</td>
                <td>Shots</td>
                <td>{{selectedMatchRaw.t2shots}}</td>
            </tr>
            <tr>
                <td>{{selectedMatchRaw.t1shotsot}}</td>
                <td>Shots On Target</td>
                <td>{{selectedMatchRaw.t2shotsot}}</td>
            </tr>
            <tr>
                <td>{{selectedMatchRaw.t1corners}}</td>
                <td>Corners</td>
                <td>{{selectedMatchRaw.t2corners}}</td>
            </tr>
            <tr>
                <td>{{selectedMatchRaw.t1fouls}}</td>
                <td>Fouls</td>
                <td>{{selectedMatchRaw.t2fouls}}</td>
            </tr>
            <tr>
                <td>{{selectedMatchRaw.t1poss}}</td>
                <td>Possession %</td>
                <td>{{selectedMatchRaw.t2poss}}</td>
            </tr>
        </table>

        <br>

        <div class="actionsTables">
            <table class="mdtable">
                <tr>
                    <td><span *ngIf="t1ActionsXI.length > 0" class="teamName">Starting XI </span></td>
                </tr>
                <tr *ngFor="let x of t1ActionsXI">
                    <td>
                        <span *ngIf="x.sbo_time" class="material-icons ricon">swap_vert</span><span *ngIf="x.sbo_time" class="actionTime">{{x.sbo_time}}"</span>
                        <span *ngIf="x.sbi_time" class="material-icons gicon">swap_vert</span><span *ngIf="x.sbi_time" class="actionTime">{{x.sbi_time}}"</span>
                        <span *ngIf="x.wo_time" class="material-icons ricon">sync_problem</span><span *ngIf="x.wo_time" class="actionTime">{{x.wo_time}}"</span>
                        {{x.persona}}
                        <span *ngIf="x.gcount" class="material-icons gicon">sports_soccer</span><span *ngIf="x.gcount > 1" class="actionTime">({{x.gcount}})</span>
                        <span *ngIf="x.acount" class="material-icons gicon">connect_without_contact</span><span *ngIf="x.acount > 1" class="actionTime">({{x.acount}})</span>
                        <span *ngIf="x.ogcount" class="material-icons ricon">sports_soccer</span><span *ngIf="x.ogcount > 1" class="actionTime">({{x.ogcount}})</span>
                        <span *ngIf="x.ycount" class="material-icons yicon">style</span>
                        <span *ngIf="x.rcount" class="material-icons ricon">style</span>
                    </td>
                </tr>
                <tr>
                    <!-- Space Subs -->
                    <td></td>
                </tr>
                <tr>
                    <td><span *ngIf="t1ActionsSub.length > 0" class="teamName">Substitutes </span></td>
                </tr>
                <tr *ngFor="let x of t1ActionsSub">
                    <td>
                        <span *ngIf="x.sbo_time" class="material-icons ricon">swap_vert</span><span *ngIf="x.sbo_time" class="actionTime">{{x.sbo_time}}"</span>
                        <span *ngIf="x.sbi_time" class="material-icons gicon">swap_vert</span><span *ngIf="x.sbi_time" class="actionTime">{{x.sbi_time}}"</span>
                        <span *ngIf="x.wo_time" class="material-icons ricon">sync_problem</span><span *ngIf="x.wo_time" class="actionTime">{{x.wo_time}}"</span>
                        {{x.persona}}
                        <span *ngIf="x.gcount" class="material-icons gicon">sports_soccer</span><span *ngIf="x.gcount > 1" class="actionTime">({{x.gcount}})</span>
                        <span *ngIf="x.acount" class="material-icons gicon">connect_without_contact</span><span *ngIf="x.acount > 1" class="actionTime">({{x.acount}})</span>
                        <span *ngIf="x.ogcount" class="material-icons ricon">sports_soccer</span><span *ngIf="x.ogcount > 1" class="actionTime">({{x.ogcount}})</span>
                        <span *ngIf="x.ycount" class="material-icons yicon">style</span>
                        <span *ngIf="x.rcount" class="material-icons ricon">style</span>
                    </td>
                </tr>
            </table>
            <table class="mdtable">
                <tr>
                    <td><span *ngIf="t2ActionsXI.length > 0" class="teamName">Starting XI </span></td>
                </tr>
                <tr *ngFor="let x of t2ActionsXI">
                    <td>
                        <span *ngIf="x.sbo_time" class="material-icons ricon">swap_vert</span><span *ngIf="x.sbo_time" class="actionTime">{{x.sbo_time}}"</span>
                        <span *ngIf="x.sbi_time" class="material-icons gicon">swap_vert</span><span *ngIf="x.sbi_time" class="actionTime">{{x.sbi_time}}"</span>
                        <span *ngIf="x.wo_time" class="material-icons ricon">sync_problem</span><span *ngIf="x.wo_time" class="actionTime">{{x.wo_time}}"</span>
                        {{x.persona}}
                        <span *ngIf="x.gcount" class="material-icons gicon">sports_soccer</span><span *ngIf="x.gcount > 1" class="actionTime">({{x.gcount}})</span>
                        <span *ngIf="x.acount" class="material-icons gicon">connect_without_contact</span><span *ngIf="x.acount > 1" class="actionTime">({{x.acount}})</span>
                        <span *ngIf="x.ogcount" class="material-icons ricon">sports_soccer</span><span *ngIf="x.ogcount > 1" class="actionTime">({{x.ogcount}})</span>
                        <span *ngIf="x.ycount" class="material-icons yicon">style</span>
                        <span *ngIf="x.rcount" class="material-icons ricon">style</span>
                    </td>
                </tr>
                <tr>
                    <!-- Space Subs -->
                    <td></td> 
                </tr>
                <tr>
                    <td><span *ngIf="t2ActionsSub.length > 0" class="teamName">Substitutes </span></td>
                </tr>
                <tr *ngFor="let x of t2ActionsSub">
                    <td>
                        <span *ngIf="x.sbo_time" class="material-icons ricon">swap_vert</span><span *ngIf="x.sbo_time" class="actionTime">{{x.sbo_time}}"</span>
                        <span *ngIf="x.sbi_time" class="material-icons gicon">swap_vert</span><span *ngIf="x.sbi_time" class="actionTime">{{x.sbi_time}}"</span>
                        <span *ngIf="x.wo_time" class="material-icons ricon">sync_problem</span><span *ngIf="x.wo_time" class="actionTime">{{x.wo_time}}"</span>
                        {{x.persona}}
                        <span *ngIf="x.gcount" class="material-icons gicon">sports_soccer</span><span *ngIf="x.gcount > 1" class="actionTime">({{x.gcount}})</span>
                        <span *ngIf="x.acount" class="material-icons gicon">connect_without_contact</span><span *ngIf="x.acount > 1" class="actionTime">({{x.acount}})</span>
                        <span *ngIf="x.ogcount" class="material-icons ricon">sports_soccer</span><span *ngIf="x.ogcount > 1" class="actionTime">({{x.ogcount}})</span>
                        <span *ngIf="x.ycount" class="material-icons yicon">style</span>
                        <span *ngIf="x.rcount" class="material-icons ricon">style</span>
                    </td>
                </tr>
            </table>
        </div>

        <button class="modal-button" (click)="closeModal('matchDetailsModal');">Close</button>
    </div>
</jw-modal>