<div *ngIf="selectedTeam" class="match-details">
    <span class="teamName">
        {{selectedTeam.teamfullname}}
    </span>
    <br>
    <span *ngIf="selectedTeam.city">
        ({{selectedTeam.city}}, {{selectedTeam.countryname}})
    </span>
    <br *ngIf="selectedTeam.city">
    <span>
        {{selectedTeam.association}} - {{selectedTeam.confederation}}
    </span>
    <br>
    <span *ngIf="sTeamMatches.length == 0">
        No data found for this team.
    </span>
    <br>
    <span *ngIf="sTeamMatches.length > 0">
        Recent Form
    </span>
    <table *ngIf="sTeamMatches.length > 0" class="mtable">
        <tr>
            <th *ngFor="let x of matchTableHeaders">
                {{x.header}}
            </th>
        </tr>
        <tr href="#" *ngFor="let mm of sTeamMatches" target="_blank" [routerLink]="['/match', mm.matchid]">
            <td>{{mm.fmatchdate}}</td>
            <td>{{mm.compcode}}</td>
            <td>
                <span *ngIf="mm.side == 'H'"><i class="material-icons gicon">home</i></span>
                <span *ngIf="mm.side == 'A'"><i class="material-icons yicon">flight_takeoff</i></span>
                <span *ngIf="mm.side == 'N'"><i class="material-icons nicon">lens</i></span>
            </td>
            <td>{{mm.goalft}}-{{mm.xgoalft}}</td>
            <td>{{mm.against}}</td>
            <!-- FT Result -->
            <td>
                <span *ngIf="mm.goalft !== null">
                    <span *ngIf="mm.resultft == 'W'"><i class="material-icons gicon">check_circle</i></span>
                    <span *ngIf="mm.resultft == 'D'"><i class="material-icons yicon">lens</i></span>
                    <span *ngIf="mm.resultft == 'L'"><i class="material-icons ricon">cancel</i></span>
                </span>
            </td>
            <!-- <td>{{mm.goalht}}-{{mm.xgoalht}}</td> -->
            <!-- HT Result -->
            <!-- <td>
                <span *ngIf="mm.resultht == 'W'"><i class="material-icons gicon">check_circle</i></span>
                <span *ngIf="mm.resultht == 'D'"><i class="material-icons yicon">lens</i></span>
                <span *ngIf="mm.resultht == 'L'"><i class="material-icons ricon">cancel</i></span>
            </td> -->
        </tr>
    </table>
    <br>
</div>