.match-details {
    text-align: center;
    color: white;
}

.teamName {
    color: #0b9c54;
    font-weight: bold;
    font-size: 18px;
}

/* Matches Table */

.mtable {
    border-collapse: collapse;
    border: 0.5px solid grey;
    margin-left: auto;
    margin-right: auto;
}

.mtable td {
    border: 0.5px solid grey;
    text-align: center;
    height: 23px;
    font-size: 14px;
  }

.mtable th {
    border: 0.5px solid grey;
    text-align: center;
    font-weight: bold;
    height: 23px;
    font-size: 14px;
}

@media screen and (min-width: 800px) { 
    .mtable {
        border-collapse: collapse;
        border: 1px solid grey;
        margin-left: auto;
        margin-right: auto;
    }
    
    .mtable td {
        border: 1px solid grey;
        text-align: center;
        font-size: 16px;
        height: 24px;
      }
    
    .mtable th {
        border: 1px solid grey;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        height: 24px;
    }
 }

/* Icons Colors */

.regularIcon {
    font-size: 18px;
    font-weight: bold;
}

.gicon {
    font-size: 16px;
    color: green;
    font-weight: bold;
}

.yicon {
    font-size: 16px;
    color: #ffc40c;
    font-weight: bold;
}

.ricon {
    font-size: 16px;
    color: red;
    font-weight: bold;
}

.bicon {
    font-size: 16px;
    color: blue;
    font-weight: bold;
}

/* neutral */
.nicon {
    font-size: 16px;
    color: #A9A9A9;
    font-weight: bold;
}